<div class="recipe">
    <div class="instructions">
        <h1>Baked Gnocchi</h1>

        <h3>Ingredients</h3>
        <table class="ingredients">
            <tr>
                <td>Potato gnocchi</td>
                <td>Basil leaves</td>
            </tr>
            <tr>
                <td>Diced mozzarella cheese</td>
                <td>Tomato pasta sauce</td>
            </tr>
            <tr>
                <td>Shredded parmesan cheese</td>
                <td>Salt</td>
            </tr>
        </table>

        <h3>Gnocchi</h3>
        <ol>
            <li>Bring pot of water, with salt, to a rolling boil</li>
            <li>Add gnocchi, when they are floating they are done</li>
            <li>Drain the gnocchi and put into a casserole dish</li>
            <li>Add the tomato pasta sauce and diced mozzarella, mix</li>
            <li>Sprinkle shredded parmesan cheese to top</li>
            <li>Throw in the oven at 350°F until parmesan cheese is melted and golden brown</li>
        </ol>

        <h3>Serve</h3>
        <ol>
            <li>Garnish with basil leaves</li>
        </ol>

        <p>Source: <a href="http://www.pinchofitaly.com/baked-gnocchi-recipe.html">Pinch of Italy</a></p>
    </div>
</div>