<div class="container">
    <table class="table table-bordered resume">
        <tbody>
            <tr>
                <th>Objective</th>
                <td>Acquire a full time position in the software engineering field.</td>
            </tr>
            <tr>
                <th>Qualifications</th>
                <td>
                    <ul>
                        <li>Advanced in object oriented programming and web development</li>
                        <li>Interested in all fields of software development</li>
                        <li>Currently eligible for U.S. SECRET clearance</li>
                        <li>Currently and always have been on Dean's List</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Education</th>
                <td>
                    <strong><u>Milwaukee School of Engineering</u></strong> · Milwaukee, WI<br />
                    <strong>Degree:</strong> Bachelor of Science in Software Engineering · <strong>GPA:</strong> 3.30<br />
                    <strong>Minor:</strong> Mathematics · <strong>Expected Graduation:</strong> May 2016<br />
                    <ul>
                        <li>Coursework completed in Software Development 1 & 2, Digital Logic 1, Data Structures,
                            Network Protocols, Software Tools & Practices, Computer Organization, Software Engineering
                            Process 1 & 2, and Software Component Design, Software Development 3, Introduction to Software
                            Verification, Web Application Development, Introduction to Database Systems, Software
                            Requirements and Specifications, Software Development Lab 1 & 2, Principles of Software
                            Architecture, Operating Systems, Algorithms, and Real-Time Systems</li>
                        <li>Will complete Software Development Lab 3, Senior Design Project 1, and Mobile Application
                            Development - Android by Winter 2015</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Mentionable Projects</th>
                <td>
                    Prototype Website for Brady Corporation (MEAN stack) · One Person Team<br />
                    <ul>
                        <li>Uses the lightweight backend of Node.js using Express</li>
                        <li>Holds and manipulates data using MongoDB, a NoSQL database</li>
                        <li>Completely uses only AngularJS and vanilla javascript, no JQuery used</li>
                    </ul><br />

                    Mail Client (Java) · Two Person Team<br />
                    <ul>
                        <li>Developed an email client that can successfully retrieve and send email from the MSOE webmail server, including messages with attachments</li>
                        <li>Extensive user interface to make application look nice</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Work Experience</th>
                <td>
                    <strong>Brady Corporation</strong> · May 2014 - May 2015, August 2015 - Current<br />
                    <ul>
                        <li>Extensive web development</li>
                        <li>Quality assurance</li>
                        <li>Requirements gathering</li>
                        <li>Worked in teams to meet project goals</li>
                    </ul><br />

                    <strong>Textron Advanced Information Solutions</strong> · June 2015 - July 2015<br />
                    <ul>
                        <li>Automated UI testing</li>
                        <li>Assessing and fixing bugs</li>
                        <li>Web development</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Computer Experience</th>
                <td>Able to write/read in Java, C/C++, C#, Node.js, Javascript, sass/css, base knowledge of software security, can easily adapt to new programming environments and languages</td>
            </tr>
            <tr>
                <th>Honors and Affiliations</th>
                <td>Currently and always have been on Dean's List (GPA > 3.20), Graduated high school with High Honors (GPA > 3.75), Member of national and MSOE chapter of IEEE</td>
            </tr>
            <tr>
                <th>Volunteer Experience</th>
                <td>
                    <strong>Fort Wilderness Summer Camp</strong> · 2010 - 2011<br />
                    <ul>
                        <li>Volunteered for two weeks each summer performing maintenance, running camper activities, and other duties to help the camp run smoothly</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Available</th>
                <td>Looking for a full time position after graduation on May 2016.</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Hire me, that would be way cool. -->