<div class="container">
    <table class="table table-bordered resume">
        <tbody>
            <tr>
                <th>Objective</th>
                <td>A career in software development as part of a forward, active team. My specific interests include server, web, and mobile development.</td>
            </tr>
            <tr>
                <th>Qualifications</th>
                <td>Currently eligible for U.S. SECRET clearance</td>
            </tr>
            <tr>
                <th>Education</th>
                <td>
                    <u>Milwaukee School of Engineering</u> · Milwaukee, WI<br />
                    Degree: Bachelor of Science in Software Engineering · GPA: 3.30<br />
                    Minor: Mathematics · Expected Graduation: May 2016<br />
                    Dean's List: 2012 - Current
            </tr>
            <tr>
                <th>Work Experience</th>
                <td>
                    <u>Flipeleven</u> – Software Development Intern<span class="work-date">September 2015 - Current</span><br />
                    <ul>
                        <li>Led development for an admin site using Padrino for 88nine Radio Milwaukee</li>
                        <li>Developed animated and responsive web designs using an in house framework</li>
                        <li>Introduced automated unit testing to our products to assure functionality using Karma and Jasmine</li>
                    </ul><br />

                    <u>Brady Corporation</u> – Software Development Intern<span class="work-date">May 2014 - May 2015, August 2015 - September 2015</span><br />
                    <ul>
                        <li>Extensive web development using multiple technology stacks for many of our in house products</li>
                        <li>Gathered requirements by meeting with customers and understanding what they wanted</li>
                        <li>Developed a prototype website using the MEAN stack to show proof of concept</li>
                    </ul><br />

                    <u>Textron Advanced Information Solutions</u> - Quality Assurance Intern<span class="work-date">June 2015 - July 2015</span><br />
                    <ul>
                        <li>Developed automated UI tests for a desktop application using TestComplete</li>
                        <li>Assessed and fixed bugs for a web based client used by US military</li>
                        <li>Assured quality of production environment delivered to users</li>
                    </ul><br />
                </td>
            </tr>
            <tr>
                <th>Projects</th>
                <td>
                    <u>GameGroupr</u><br />
                    <ul>
                        <li>Matchmaking platform for gamers looking to find similar players</li>
                        <li>Gets player information as well as game library using the Steam web API</li>
                        <li>Authenticates users locally using Passport.js and MySQL</li>
                        <li>Matches gamers based off personality as well as gameplay preferences</li>
                    </ul><br />

                    <u>GroupMe Bot Friends</u><br />
                    <ul>
                        <li>Published Node.js server running on a Heroku instance</li>
                        <li>Generates responses based off of what friends have previously said using a Markov Chain</li>
                        <li>Leverages GroupMe API as well as some javascript packages including request and lodash</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Programming Experience</th>
                <td>Proficient in Java, Javascript, SQL, and NoSQL. Familiar with Ruby, PHP, SaaS/CSS, and C++. Use of frameworks such as Express.js, Rails, Padrino, and Android.</td>
            </tr>
            <tr>
                <th>Interests</th>
                <td>Baseball, lifting, gaming, film, and programming</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Hire me, that would be way cool. -->