<table class="table table-bordered resume">
    <tbody>
        <tr>
            <th>Objective</th>
            <td>Acquire an internship in the software engineering field.</td>
        </tr>
        <tr>
            <th>Qualifications</th>
            <td>
                <ul>
                    <li>Proficient in object oriented programming</li>
                    <li>Advanced in web development</li>
                    <li>Interested in all fields of software development</li>
                    <li>Currently and always have been on Dean's List</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Education</th>
            <td>
                <strong><u>Milwaukee School of Engineering</u></strong> · Milwaukee, WI<br />
                <strong>Degree:</strong> Bachelor of Science in Software Engineering · <strong>GPA:</strong> 3.26<br />
                <strong>Minor:</strong> Mathematics · <strong>Expected Graduation:</strong> May 2016<br />
                <ul>
                    <li>Coursework completed in Software Development 1 & 2, Digital Logic 1, Data Structures, Network Protocols, Software Tools & Practices, Computer Organization, Software Engineering Process 1, and Software Component Design, Software Development 3, Introduction to Software Verification, Web Application Development, Introduction to Database Systems, and Software Requirements and Specifications</li>
                    <li>Will complete Software Development Lab 1, Principles of Software Architecture, Operating Systems, and Software Engineering Process 2 by Spring 2015</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Mentionable Projects</th>
            <td>
                Prototype Website for Brady Corporation (MEAN stack) · One Person Team<br />
                <ul>
                    <li>Uses the lightweight backend of Node.js using Express</li>
                    <li>Holds and manipulates data using MongoDB, a NoSQL database</li>
                    <li>Completely uses only AngularJS and vanilla javascript, no JQuery used</li>
                </ul><br />

                Mail Client (Java) · Two Person Team<br />
                <ul>
                    <li>Developed an email client that can successfully retrieve and send email from the MSOE webmail server, including messages with attachments</li>
                    <li>Extensive user interface to make application look nice</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Work Experience</th>
            <td>
                <strong>Brady Corporation</strong> · May 2014 - Current<br />
                <ul>
                    <li>Extensive web development</li>
                    <li>Quality assurance</li>
                    <li>Requirements gathering</li>
                    <li>Worked in teams to meet project goals</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Computer Experience</th>
            <td>Able to read/write in Java, C/C++, C#, Node.js, Javascript, CSS, base knowledge of software security, can easily adapt to knew programming environments and languages</td>
        </tr>
        <tr>
            <th>Honors and Affiliations</th>
            <td>Currently and always have been on Dean's List (GPA > 3.2), Graduated high school with High Honors (GPA > 3.75), Member of national and MSOE chapter of IEEE, Member of high school National Honors Society</td>
        </tr>
        <tr>
            <th>Volunteer Experience</th>
            <td>
                <strong>Fort Wilderness Summer Camp</strong> · 2010-2011<br />
                <ul>
                    <li>Volunteered for two weeks each summer performing maintenance, running camper activities, and other duties to help the camp run smoothly</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Available</th>
            <td>Looking for better opportunities and more experience in different areas of software engineering.</td>
        </tr>
    </tbody>
</table>